:root {
   --custom_blue: rgb(9, 9, 110);
   --transition_timing_short: 200ms;
   --transition_timing_long: 800ms;
 }


body,html {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Outfit',Arial,sans-serif;
   word-spacing: 5px;
}

.main {
   width: 100%;
   height: 100%;
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.topnav {
   width: 100%;
   height: 50px;
   font-size: 18px;
   background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
   border-bottom-style: solid;
   border-width: 1px;
   border-color: rgba(192, 192, 192, 0.555);
   padding: 10px 10px;
}

.rightNav {
   text-decoration: none;
   color: rgba(21, 21, 21, 0.842);
   margin-right: 10px;
   margin-left: 10px;
   float: right;

}

.rightNav:hover{
   color: var(--custom_blue);
   cursor: pointer;
}

.resume {
   color: rgba(21, 21, 21, 0.842);
   margin-right: 10px;
   margin-left: 10px;
   font-size: 20px;
}

.resume:hover {
   color: var(--custom_blue);
   cursor: pointer;
}




.projects {
   overflow: hidden;
   width: 100%;
   height: 330px;
   background-color: rgb(7, 25, 82);
   transition: transform 0.2s ease-in-out;
   position: relative;
}

.proj-container {
   width: 100%;
   height: 305px;
   background-color: rgb(7, 25, 82);
   display: inline-flex;
   overflow-x: auto;
   scroll-behavior: smooth;
   white-space: nowrap;
   padding-top: 28px;
   padding-left: 40px;
   padding-right: 40px;
}

.proj-container::-webkit-scrollbar {
   display:none;
}

.intro {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: fit-content;
   height: 40%;
   text-align: center;
   padding-top: 100px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   text-shadow: 2px 2px 4px rgb(177, 177, 177);
   color: rgb(0, 0, 0);

}

.intro2 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: fit-content;
   height: fit-content;
   text-align: center;
   padding-top: 25px;


}

.hero {
   display: block;
   width: 100%;
   height: fit-content;
   padding-left: 5PX;
   padding-right: 5px;
}

.avatar {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: fit-content;
   height: 60%;
   margin-top: 30px;
   margin-bottom: 50px;
}



.avatar img {
   width: 170px;
   height: auto;
}

.highlight1 {
   color: var(--custom_blue);
}

.socials {
   color: black;
   margin-left: 15px;
   margin-right: 15px;
}

.socials:hover {
   color: var(--custom_blue);
   cursor: pointer;
}

.btn-pre,
.btn-nxt {
display: none;
}


.proj-card {
   width: 350px;
   height: 270px;
   flex: 0 0 auto;
   background-color: aliceblue;
   border-radius: 0.35rem;
   overflow: hidden;
   margin-right: 50px;
   display: inline-block;
   white-space: nowrap;
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   /*box-shadow: 2px 2px 5px darkgray;*/
   font-size: 18px;
}

.underline {
   height: 4px;
   width: 0px;
   background-color: black;
   background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   margin-top: 3px;
   transition: width var(--transition_timing_long);
}

.proj-card:hover  .underline{
   width: 275px;
}


.proj-card img {
   height: 175px;
   width: 350px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.proj-card p {
   text-align: center;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   white-space:normal;
   margin-bottom: 0;
}

.proj-card button {
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: var(--custom_blue);
   border-color: var(--custom_blue);
   font-size: 15px;
}

.proj-card button:hover {
   color: whitesmoke;
   background-color: var(--custom_blue);
   border-color: var(--custom_blue);
}

.proj-card p span {
   font-weight: bold;
}

.projectheader {
   height: fit-content;
   padding: 10px;
   /*background-image: linear-gradient(180deg, rgba(119, 136, 153, 0) 0%, lightslategray 100%);*/
   background-color: rgb(7, 25, 82);
   text-align: center;
   padding-top: 10px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   color: whitesmoke;
   /*text-shadow: 2px 2px 4px rgb(59, 59, 59);*/
  border-bottom: rgba(192, 192, 192, 0.555) solid 1px;
}

.about {
   width: 100%;
   height: fit-content;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: justify;
   padding-left: 5dvw;
   padding-right: 5dvw;
   font-size: 18px;
   line-height: 30px;
   overflow: hidden;
   white-space: normal;
}

.about ul {
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}


.about ul li {
   padding-top: 10px;
   padding-bottom: 10px;
}

 h4, h3, h2, h1 {
   text-align: center;
   
}

h4 {
   font-size: 23px;
}

h3 {
   font-size: 25px;
}

h2 {
   font-size: 27px;
}

h1 {
   font-size: 30px;
}

.about h4, .about h3, .about h2, .about h1 {
   margin-bottom: 20px;
   color: var(--custom_blue);
}

.about hr {
   margin-top: 30px;
   margin-bottom: 30px;
}


.txtCenter {
   text-align: center;
}

.about a, .about a:visited {
   text-decoration: none;
   color: rgb(0, 156, 218);
}

.about a:hover,  .about a:visited:hover  {
   color: var(--custom_blue);
}


.copy {
   float: right;
}


footer {
   border-top: 1px solid rgba(192, 192, 192, 0.555);
   background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
   height: 300px;
   text-align: center;
   margin-bottom: 0;
}

footer small{
   margin-top: 20px;
   padding-bottom: 20px;
   display: block;
}

.contact, .soc{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   text-align: center;
}

.contact p {
   text-align: center;
}


.caro {
   width: 95%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-top: 25px;
   aspect-ratio: 16/9;
}

.carousel-item img{
   width: 800px;
   height: 450px;
   
}
/*******************************************/
 .carousell {
   width: 100%;
   height: 100%;
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 .carousell > ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 .sllide {
   position: absolute;
   inset: 0;
   opacity: 0;
   transition: var(--transition_timing_short) opacity ease-in-out;
 }
 
 .sllide > img {
   display: block;
   width: 100%;
   height: 100%;
   /*object-fit: cover;*/
   object-position: center;
   aspect-ratio: 16/9;
 }

 .sllide > video {
   display: block;
   width: 100%;
   height: 100%;
   /*object-fit: cover;*/
   object-position: center;
   aspect-ratio: 16/9;
 }

 

 .sllide[data-active] {
   opacity: 1;
   z-index: 1;
   transition-delay: 0ms;
 }
 
    .carousell-button {
      position: absolute;
      z-index: 3;
      background: none;
      border: none;
      font-size: 25px;
      /*top: 50%;
      transform: translateY(-50%);*/
      cursor: pointer;
      padding: 0 .5rem;
      background-color: rgba(37, 37, 37, 0.3);
      height: 100%;
      width: 40px;
      transition: background-color var(--transition_timing_short);
    }

    .carousell-button:hover,
    .carousell-button:focus {
      background-color: rgba(37, 37, 37, 0.65);
    }
    
    .carousell-button:focus {
      outline: 1px solid black;
    }

    .carousell-button > *{
      color: rgba(0, 156, 218, 0.65);
      transition: color var(--transition_timing_short);
    }

    .carousell-button.prev {
      left: 0;
      border-radius: 0 .25rem .25rem 0;
    }
    
    .carousell-button.next {
      right: 0;
      border-radius: .25rem 0 0 .25rem;
    }

    .carousell-button:hover >*,
    .carousell-button:focus > * {
      color: rgb(0, 156, 218);
    }
    
    .vidCaro .carousell-button {
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
   }

    .topScroll {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      font-size: 23px;
      border: 1px solid var(--custom_blue);
      color: var(--custom_blue);
      padding: 0;
      z-index: 10;
      border-radius: .25rem;
      transition:all var(--transition_timing_short);
      display: none;
      justify-content: center;
      align-items: center;
  }

    .topScroll:hover {
      background-color: var(--custom_blue);
      color: whitesmoke;
    }

/*******************************************/
@media only screen
and (min-device-width: 850px){


   .avatar {
      margin-top: 35px;
      margin-bottom: 35px;
   }


   .btn-pre img, .btn-nxt img {
      width: 25PX;
   }

   footer {
       height: fit-content;
   }

   footer small{
       margin-top: 25px;
       padding-bottom: 25px;
   }

   .contact, .soc{
       display: inline-block;
       margin-left: 150px;
       margin-right: 150px;
       margin-top: 25px;
       text-align: center;
   }

   .caro {
       width: 800px;
   }
/*******************************/

.carousell {
   margin-left: none;
   margin-right: none;
 }

 .carousell-button {

   font-size: 2rem;
   /*top: 50%;
   transform: translateY(-50%);*/

   width:auto;
   
 }


.about {
   text-align: justify;
   padding-left: 18dvw;
   padding-right: 18dvw;
}

.btn-pre,
.btn-nxt {
  display: inline;
  position: absolute; /* Set position absolute for the buttons */
  top: 0; /* Position from the top edge of the projects container */
  width: 40px; /* Adjust width as needed */
  height: 100%; /* Cover the full height of the projects container */
  background-color: darkgray;
  border: none;
  z-index: 1; /* Ensure the buttons appear above the items */
  opacity: 0.3;
  font-size: 25px;
  transition: opacity var(--transition_timing_short);
}

.btn-pre {
   width: fit-content;
   height: 100%;
   border-radius: 0 .25rem .25rem 0;
   left: 0;
}

.btn-nxt {
   width: fit-content;
   height: 100%;
   float: right;
   border-radius: .25rem 0 0 .25rem;
   right: 0;
}

.btn-pre:hover, .btn-nxt:hover{
   opacity: 0.7;
}

    
}